spring:

  messages:
    encoding: UTF-8

  datasource:
    url: jdbc:h2:mem:maindb

  jpa:
    open-in-view: false
    generate-ddl: false
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  sql:
    init:
      mode: always
      data-locations: classpath:/data.sql
      schema-locations: classpath:/schema.sql


  web:
    resources:
      static-locations:
        - classpath:/static/
        - classpath:/static/book/

server:
  port: 8080
  servlet:
    context-path: /

logging:
  level:
    ROOT: ERROR
    ru.otus.spring.controller: DEBUG